// ==========================================================================
// Universal-ish active states
// ==========================================================================
a:focus,
a:hover,
a:active,
button:focus,
input:focus {
    background: $act-color !important;
    color: $p-color !important;
    .post & {
        border-bottom: 2px solid;
    }
}

.photo-post > a,
.panorama-post > a {
    &:hover,
    &:active,
    &:focus {
        border-bottom: none;
        img {
            background-color: $act-color;
            border-color: $act-color;
        }
    }
}

.header-box-icon-menu,
.header-box-icon-search {
    &:hover,
    &:focus {
        &::before {
            background: $act-color !important;
            color: $p-color !important;
        }
    }
}

button:hover {
    text-decoration: underline;
}

// ==========================================================================
// Mobile Styles
// ==========================================================================
.mobile-only {
    @include m-q(min, 692px) {
        display: none;
    }
}

.mobile-toggle {
    @include m-q(max, $max: 691px) {
            &-hide {
                display: none;
            }
        }
    }

@include m-q(max, $max: 691px) {
    .has-shadow {
        box-shadow: 0px 5px 10px 0px rgba($p-color, .2);
    }
    .is-fixed {
        position: fixed;
        top: 0;
    }
    .is-rotated {
        &::before {
            transform: rotateZ(90deg);
            // transition: transform 2s;
        }
    }
}

// ==========================================================================
// Post Share Icon Interaction States
// ==========================================================================
.post-footer-share-list-icon {
    @include social-interaction-state-colors();
    border-bottom: none !important;
    &:hover,
    &:focus,
    &:active {
        border-bottom: none !important;
        background-color: transparent !important;
    }
}
