// ==========================================================================
// Universal-ish active states
// ==========================================================================
a:focus,
a:hover,
button:focus,
input:focus {
    background: $act-color !important;
    color: $p-color !important;
    .post &, .post-notes-notes ol.notes li.note & {
        border-bottom: 2px solid;
    }
    .theme-credit & {
        border-bottom: 1px solid;
    }
}

.header-box-form button:hover {
    text-decoration: underline;
}

.photo-post .post-content > a,
.panorama-post .post-content > a,
.photoset-post-photoset a {
    &:hover,
    &:focus {
        border-bottom: none;
        img {
            background-color: $act-color;
            border-color: $act-color;
            border-width: 0;
            padding: 9px;
        }
    }
}

@include m-q(max, $max: 599px) {
.photoset-post-photoset a {
    &:hover,
    &:focus {
        img {
            padding: 6px;
        }
    }
}
}

.header-box-icon-menu,
.header-box-icon-search {
    &:hover,
    &:focus {
        &::before {
            background: $act-color !important;
            color: $p-color !important;
        }
    }
    &:active {
        &::before {
            background: transparent !important;
        }
    }
}

// ==========================================================================
// Mobile Styles
// ==========================================================================
.mobile-only {
    @include m-q(min, 692px) {
        display: none;
    }
}
.mobile-toggle {
    @include m-q(max, $max: 691px) {
        &-hide {
            display: none;
        }
    }
}
@include m-q(max, $max: 691px) {
    .has-shadow {
        box-shadow: 0 5px 10px 0 rgba($p-color, .2);
    }
    
    .is-fixed {
        position: fixed;
        top: 0;
    }
    
    .is-rotated {
        &::before {
            transform: rotateZ(90deg);
        }
    }
}
// ==========================================================================
// Post Share Icon Interaction States
// ==========================================================================
.post-footer-share-list-icon {
    @include social-interaction-state-colors();
    border-bottom: none !important;
    &:hover,
    &:focus,
    &:active {
        border-bottom: none !important;
        background-color: transparent !important;
    }
}
