.main-content {
    clear: both;
    font-size: 1em;
    width: 95%;
    max-width: 800px;
    position: relative;
    margin: 0 auto;

    @include content-padding();
    @include m-q(min, 692px) {
          top: 31px;
    }
    @include m-q(min, 720px) {
        width: 85%;
    }
    @include m-q(min, 820px) {
        width: 75%;
    }
    @include m-q(min, 920px) {
        width: 65%;
    }
}
