.header-box {
    width: 100%;
    padding: 13px;
    /* vertical-align: middle; */
    margin: 0 auto;
    height: 100%;
    text-align: center;
    z-index: 20;
}

[class^="header-box-row"] {
    margin: 0 auto;
    clear: both;
    position: relative;
}

.header-box-row-one {
    margin-bottom: 2px;
    @media only screen and (max-width: 691px) {
        a {
            vertical-align: middle;
        }
    }
}

.header-box-row-two {
    margin-top: 1em;
    border-bottom: none;
}

.header-box-title {
    display: inline-flex;
    position: relative;
    font-weight: 300;
    font-size: .85em;
    @media only screen and (min-width: 350px) {
        font-size: 1em;
    }
    @media only screen and (min-width: 415px) {
        font-size: 1.2em;
    }
    @media only screen and (min-width: 615px) {
        font-size: 1.5em;
    }
    @media only screen and (min-width: 730px) {
        font-size: 1.9em;
    }
}

.header-box-title a {
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 7px 0;
    &::after {
        background-color: $p-color;
        content: "";
        width: 95%;
        height: 1px;
        position: absolute;
        left: 10px;
        display: block;
        @media only screen and (min-width: 615px) and (max-width: 729px) {
            left: 12px;
        }
        @media only screen and (min-width:730px) {
            left: 13px;
        }
    }
}

.header-box-title a span:nth-child(odd) {
    @media only screen and (min-width: 600px) {
        margin: -4px 4px;
    }
    padding: 6px;
    position: relative;
    top: 7px;
    text-transform: lowercase;
    font-weight: 400;
    z-index: 30;
    @extend %link-alt;
}

.header-box-title a:hover span:nth-child(odd),
.header-box-title a:focus span:nth-child(odd) {
    color: yellow;
}

.header-box-description {
    display: none;
    @media only screen and (min-width: 720px) {
        text-align: center;
        font-size: 90%;
        display: block;
        position: relative;
        vertical-align: bottom;
        top: 15px;
    }
}

.header-box-icon {
    &-menu::before,
    &-search::before {
        vertical-align: middle;
        position: relative;
    }
    &-menu,
    &-search {
        font-size: 1em;
        position: absolute;
        top: 2px;
    }
    &-search {
        float: right;
        right: 0;
        top: 2px;
    }
    &-menu {
        float: left;
        left: 0;
        top: 2px;
        transition: transform .5s;
    }
    @include header-icon-loop;
}

.header-box-link-list {
    position: relative;
    display: block;
    text-align: center;
    @media only screen and (min-width: 692px) {
        display: inline-block;
        margin: 16px auto;
    }
    list-style: none;
}

.header-box-link-list-item {
    @media only screen and (max-width: 691px) {
        display: block;
        background-color: $p-color;
        color: $sec-color;
        margin: 3px auto;
    }
    text-decoration: none;
    padding: .6em;
    text-transform: uppercase;
    font-weight: 600;
    color: $p-color;
    &:last-child {
        @media only screen and (max-width: 691px) {
            margin-bottom: 25px;
        }
    }
}

.header-box-form {
    border: none;
    display: block;
    clear: both;
    color: $p-color;
    input,
    button {
        border: 1px solid rgba($p-color, 0.9);
        text-transform: uppercase;
        font-weight: normal;
    }
    input {
        text-transform: none;
        height: 40px;
        width: 70%;
        @media only screen and (min-width: 692px) {
            width: 250px;
        }
    }
    button {
        @extend %link-alt;
        padding: 7px;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        position: relative;
        left: 10px;
    }
}

@media only screen and (min-width: 1600px) {}
