@charset "UTF-8";
.post {
    border-bottom: 3px solid $p-color;
    padding: 12px;
    position: relative;
    margin: 0 auto;
    @include m-q(min, 600px) {
        width: 85%;
        margin: 0 auto;
    }
    a {
        border-bottom: 1px dotted;
        font-weight: 600;
    }
    &:first-child,
    &:only-child {
        @include m-q(min, 692px) {
            border-top: 3px solid $p-color;
        }
    }
    img {
        padding: 8px;
        border: 1px solid $p-color;
    }
    &:not(.text-post):not(.link-post):not(.chat-post) {
        padding-top: 2.25em;
    }
}

.answer-post {
    &-question {
        font-size: 1.2em;
    }
}

.search-tag-header {
    text-align: center;
    font-size: 150%;
    font-weight: 600;
    padding: 4px;
    border-bottom: 2px solid;
    margin-bottom: 4px;
}

.no-results-header {
    border-bottom: none !important;
}

.audio-post {
    &-data {
        position: relative;
        max-width: 567px;
        margin: 0 auto;
        @include m-q(min, 501px) {
            border: 4px solid;
            & + .post-text {
                margin-top: 1em;
            }
        }
        &-text {
            width: 100%;
            margin: 0 auto 12px;
            @include m-q(min, 501px) {
                width: 65%;
                margin: 0 auto;
                display: inline-block;
                padding: 7px;
                text-align: right;
                position: relative;

            }
            &-artist,
            &-album,
            &-song-title {
                margin: 6px auto;
                padding: 0px;
                position: relative;
            }
            &-label {
                text-transform: uppercase;
                font-weight: 600;
                position: relative;
                background: rgba($p-color, 0.9);
                color: $sec-color;
                padding: 4px;
                display: block;
            }
        }
        &-other {
            @include m-q(min, 501px) {
                width: 32%;
                display: inline-block;
                position: absolute;
                top: 12px;
                right: 10px;
            }
            &-album-art {
                display: none;
                @include m-q(min, 501px) {
                    display: block;
                    max-width: 150px;
                    margin: 0 auto;
                }
                position: relative;
                &-image {
                    border-width: 3px !important;
                }
            }
            &-native-player {
                margin: 5px auto;
                //border: 2px solid rgba($p-color, .8);

                max-width: 90%;
                margin: 0 auto;
                @include m-q(min, 501px) {
                max-width: 150px;
            }
            }
        }
    }
    iframe.spotify_audio_player,
    .spotify_audio_player {
        @include m-q(max, $max: 500px) {
            height: 80px !important;
        }
    }
}

.chat-post {
    &-chat {
        list-style: none;
        padding-left: 0px;
        @include m-q(min, 1000px) {
            padding-left: 40px;
        }
        li {
            padding: 10px 10px 10px 5px;
        }
        &-label {
            font-weight: bold;
            display: inline;
        }
        &-line {
            &-even {
                @extend %link-alt;
            }
            &-actual-line {
                display: inline;
            }
        }
    }
}

.quote-post {
    &-quote {
        margin: auto 0 3px;
        padding: 12px;
        font-size: 1.3em;
        quotes: "“" "”" "‘" "’";
        @extend %link-alt;
        &::before,
        &::after {
            font-weight: 900;
            position: relative;
            top: -4px;
        }
        &::before {
            content: open-quote;
            padding-right: 4px;
        }
        &::after {
            content: close-quote;
            padding-left: 4px;
        }
        &+ .post-text {
            margin-top: 15px;
        }
    }
}
